# Foundry VTT User Data Path
# This path must contain a 'Data' subfolder.
# Example Windows: FOUNDRY_DATA_PATH=C:\Users\YourUsername\AppData\Local\FoundryVTT
# Example macOS: FOUNDRY_DATA_PATH=/Users/YourUsername/Library/Application Support/FoundryVTT
# Example Linux: FOUNDRY_DATA_PATH=/home/YourUsername/.local/share/FoundryVTT

FOUNDRY_DATA_PATH=
